body{

  background-image: url("popup_bg.jpg");
  background-repeat: no-repeat;
  width: 470px;
  height: 340px;
  overflow: hidden;

}

.check_button {
  background: #ff0505;
  background-image: -webkit-linear-gradient(top, #ff0505, #ff0303);
  background-image: -moz-linear-gradient(top, #ff0505, #ff0303);
  background-image: -ms-linear-gradient(top, #ff0505, #ff0303);
  background-image: -o-linear-gradient(top, #ff0505, #ff0303);
  background-image: linear-gradient(to bottom, #ff0505, #ff0303);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #000000;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.check_button:hover {
  background: #45b039;
  background-image: -webkit-linear-gradient(top, #45b039, #1be09b);
  background-image: -moz-linear-gradient(top, #45b039, #1be09b);
  background-image: -ms-linear-gradient(top, #45b039, #1be09b);
  background-image: -o-linear-gradient(top, #45b039, #1be09b);
  background-image: linear-gradient(to bottom, #45b039, #1be09b);
  text-decoration: none;
}

